<getscore-hierarchy [subjectId]="SubjectId"></getscore-hierarchy>
<!--
<div style="margin-bottom: 50px;">
    <getscore-calc-edit-internal [node]="calculatorService.Editor.Schema.calculator"></getscore-calc-edit-internal>
</div>
<div>
    <div style="text-align:center;">TITLE</div>
    <getscore-calc-recursive [node]="calculatorService.Editor.Schema"></getscore-calc-recursive>
    <div style="font-weight: bold;">Final score: {{calculatorService.ComputedValues[0]}}</div>
</div>
<button (click)="ngOnInit();">asd</button>
-->
<getscore-calc-show-interpreter [editMode]="true" [calcId]="-1" [schema]="Schema"></getscore-calc-show-interpreter>
<button mat-raised-button style="float: right; margin: 30px;" (click)="create()">Создать калькулятор</button>