<ng-template *ngIf="personalService.LoggedIn | async; then loggedIn else notLoggedIn;"></ng-template>
<ng-template #notLoggedIn>
    <button mat-button class="loginButton" (click)="personalService.Login().subscribe()">ВОЙТИ</button>
</ng-template>
<ng-template #loggedIn>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="personalService.Logout().subscribe()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Выйти</span>
        </button>
    </mat-menu>
    <button mat-button class="user-status-card" [matMenuTriggerFor]="userMenu">
        <div mat-card-avatar class="user-image" [ngStyle]="{'background-image': 'url(' + photoUrl + ')', 'display': 'inline-block', 'background-repeat': 'no-repeat', 'background-position': 'center'}"></div>
        <div *ngIf="!((smallScreen | async)?.matches)" style="display: inline-block;">{{userName}}</div>
    </button>
</ng-template>