<ng-template *ngIf="personalService.LoggedIn | async; then loggedIn else notLoggedIn;"></ng-template>
<ng-template #notLoggedIn>
    <button mat-button class="loginButton" (click)="personalService.Login().subscribe()">ВОЙТИ</button>
</ng-template>
<ng-template #loggedIn>
    <!--<mat-card class="user-status-card">
        <mat-card-header>
            <div mat-card-avatar class="user-image" [ngStyle]="{'background-image'}"></div>
            <mat-card-title>{{personalService.UserName}}</mat-card-title>
        </mat-card-header>
    </mat-card>-->
    <button mat-button class="loginButton" (click)="personalService.Logout().subscribe()">ВЫЙТИ</button>
</ng-template>